@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;500;800&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin:0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}
