.solutions-container {
  width: 100%;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 80%;
    height: 40px;
    padding-top: 56px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .list-solutions{
    display: flex;
    width: 80%;
    align-items: center;
    margin-top: 24px;
    justify-content: space-between;

      .card-solutions {
        width: 241px;
        height: 381px;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        margin: 16px;
        padding: 10px;padding: 16px;

          .header-card {
            width: 100%;
            margin-bottom: 53px;

            .img-card{
              width: 100px;
              height: 100px;
              background: #F2F2F2;
              border-radius: 50%;
              font-size: 32px;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

        .card{
          width: 100%;

          h3 {
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 500;
          }
          h4 {
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 12px;
            color: #EE0E7D;
          }
        }
          ul {
            margin-left: 20px;
            li {
              font-size: 12px;
              line-height: 18px;
              margin-bottom: 16px;
              color: #5B5B5B;
            }
          }
        .footer-card{
          button {
            width: 100%;
            height: 48px;
            margin: 16px 0px;
            border: none;
            border-radius: 6px;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
            background: #03FFA5;
          }
        }  
      }
  }
    
}